/*ヘッダー*/
header{
    position: relative;
    z-index: 10;
}
.HeaderContainer{
    background-color: white;
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.05);
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
}

.HeaderLogo__image-test{
    width: 45%;
    margin: 20px 20px;
}

/*ナビ*/
.HeaderNav{
    align-items: center;
    display: flex
}

ul{
    display: flex;
    list-style: none;
}

.HeaderNav-list{
    margin-right: 40px;
    gap: 40px;
}

.HeaderNav-list-items{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
}

.ContactNav{
    color: white;
    background-color: rgba(244, 156, 16, 0.913);
    padding: 12px 20px;
    border-radius: 20px;
    text-decoration: none;
    letter-spacing: 0.05em;
}

/*メイン*/
    /*画像*/
.Firstview-img-triangle-top{
    position: absolute;
    top: 70px;
    left: -100px;
}

.Firstview-img-triangle-bottom{
    position: absolute;
    top: 400px;
    right: 0;
}

.Firstview-img-main{
    position: absolute;
    top: 0;
    right: 0;
}

.Firstview-img-ellipse{
    position: absolute;
    left: -50px;
    top: 100px;
}

.Firstview-Container-img-no1{
    position: absolute;
    top: 100px;
    right: 400px;
}

    /*FV*/
.Firstview-Container{
    max-width: 1048px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-top: 180px;
}
 
.Firstview-Comment-Title{
    font-size: 45px;
}

.-contact{
    color: white;
    background-color: rgba(244, 156, 16, 0.913);
    padding: 20px 100px;
    border-radius: 100px;
    text-decoration: none;
}

.detail{
    font-size: 10px;
    margin-top: 40px;
}